body
{
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.outer
{
    border: 2px solid black;
    height: 60vh;
    width: 15vw;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
}
.pole 
{
    border: 2px solid black;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: antiquewhite;
}
.pole:nth-child(1):hover
{
    background-color: red;
}
.pole:nth-child(2):hover
{
    background-color: orange;
}
.pole:nth-child(3):hover
{
    background-color: green;
}